
@media only screen and (max-width: 1050px) {
.gallery_box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    }
  
    .heading_main_title{
      font-size: 5rem;
    }
    .magnifying_glass_icon{
        max-width: 100%;
        width: 50%;
     }
  }
  @media only screen and (max-width: 900px) {
  
    .heading_main_title{
      font-size: 4rem;
    }
    .magnifying_glass_icon{
        max-width: 100%;
        width: 40%;
     }
  }
  @media only screen and (max-width: 800px) {
    .hamburger_menu {
      display: block;
    }
  
    .navigation {
      display: none;
    }
    .magnifying_glass_icon{
       display: none;
    }
  
    .heading_content_title{
      color: black;
      font-size: 3rem;
    }
  
    .heading_main_title {
      font-size: 3rem;
    }
    .header__text-box {
      display: flex;
      justify-content: center;
    }
  
  
    .footer {
      margin-top: 8rem;
    }
    .footer_box {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
    .footer_nav_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
    }
    .footer_nav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .copy-right {
      text-align: center;
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-menu {
        position:absolute;
        left: -110%;
        top: 5rem;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #e7cf45;
        width: 100%;
        height: 30%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
        margin:0;
       
    }

    .nav-menu.active ul li{
        list-style: none;
        
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }


}