@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

*,
*::after,
*::before {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body {
font-size: 1.5rem;
line-height: 1.5;
font-family: 'Readex Pro', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}